.header-container{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 57px;
  border-bottom: 0.8px solid rgb(222, 222, 222);
  padding-left: 24px;
  padding-right: 24px;
  background-color: white;
  position: fixed;
  z-index: 100;
}
.left-section{
  display: flex;
  flex-direction: row;
}
.hamburger-menu{
  width: 24px;
  margin-right: 20px;
}
.youtube-logo{
  width: 90px;
}
.middle-section{
  display: flex;
  flex-direction: row;
}
.middle-section input{
  height: 40px;
  width: 358px;
  flex: 1;
  border: 0.8px solid rgb(204, 204, 204);
  padding: 1px 2px 1px 12px;
}
@media (max-width:1080px){
  .middle-section input{
    width: 250px;
  }
}
@media (max-width:850px){
  .middle-section input{
    width: 150px;
  }
}
@media (max-width:700px){
  .middle-section input{
    width: 100px;
  }
}
@media (max-width:600px){
  .middle-section input{
    width: 60px;
  }
}
.middle-section ::placeholder{
  font-size:16px;
}
.search-button{
  background-color: #f7f7f7;
  border: 0.8px solid rgb(204, 204, 204);
  border-radius: 2px;
  font-stretch: 100%;
  margin: 0px 8px 0px 0px;
  padding: 1px 6px;
  height: 44px;
  width: 70px;
  cursor: pointer;
}
.search-button img{
  width: 28px;
}
.tooltip{
  position: relative;
}
.tip,.upload-tip,.youtube-apps-tip,.notification-tip{
  position: absolute;
  background-color: gray;
  color: white;
  bottom: -50px;
  padding: 8px;
  height: 20px;
  text-align: center;
  border-radius: 4px;
  opacity: 0;
  z-index: 1080;
  text-wrap: nowrap;
}
.search-button:hover + .tip{
  opacity: 1;
}
.voice-search-button:hover + .tip{
  opacity: 1;
}
.icon:hover + .upload-tip{
    opacity: 1;
}
.icon:hover + .youtube-apps-tip{
    opacity: 1;
}
.icon:hover + .notification-tip{
    opacity: 1;
}
.voice-search-button{
  height: 44px;
  width: 44px;
  padding: 1px 6px;
  background-color: #f8f8f8;
  border: none;
  border-radius: 22px;
  cursor: pointer;
}
.voice-search-button img{
  width: 25px;
}
.right-section{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0px 24px 0px 29px;
}
.icon{
  width: 25px;
  margin-right: 24px;
  cursor: pointer;
}
.notification{
  position: relative;
  padding: 0;
  margin: 0;
}
.notification-no{
  position: absolute;
  background-color: red;
  color: white;
  width: 15px;
  height: 15px;
  text-align: center;
  padding: 2px 4px;
  margin-right: 10px;
  border-radius: 10px;
  top: -4px;
  right: 1px;
}
.my-channel{
  width: 36px;
  border-radius: 18px;
  margin-right: 24px;
}