.sidebar{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  width: 90px;
  margin-top: 60px;
  position: fixed;
  z-index: 200;
}
.sidebar-link{
  width: 100%;
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.sidebar-link:hover{
  background-color: #e6dddd;
}
.sidebar-link img{
  width: 30px;
}
.sidebar-link div{
  font-size: 10px;
  margin-top: 5px;
}