.grid-container{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    column-gap:16px;
    row-gap: 32px;
    padding: 77px 20px 20px 20px;
    margin-left: 90px;
}
@media (max-width:1100px){
    .grid-container{
        grid-template-columns: repeat(3,1fr);
    }
}
@media (max-width:800px){
    .grid-container{
        grid-template-columns: repeat(2,1fr);
    }
}
@media (max-width:580px){
    .grid-container{
        grid-template-columns: 1fr;
    }
}
.top-section{
    position: relative;
}
.video-time{
    position: absolute;
    background-color: black;
    color: white;
    padding: 3px 6px;
    bottom: 22px;
    right: 4px;
}
.video-thumbnail{
    width: 100%;
    margin-bottom: 12px;
}
.bottom-section{
    display: grid;
    grid-template-columns: 50px 1fr;
}
.channel-pic img{
    width: 36px;
    border-radius: 18px;
}
.video-title{
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 12px;
    line-height: 20px;
    width: 100%;
}
.video-author{
    font-size: 12px;
    font-weight: 400;
    color: rgb(96, 96, 96);
    margin-bottom: 6px;
}
.video-stats{
    font-size: 12px;
    font-weight: 400;
    color: rgb(96, 96, 96);
}